*/.cpcache/
*/.nrepl-port
*/classes
*.jar
*/assets/js/*

*/node_modules/
*/public/js

*/target
*/checkouts
*/src/gen

*.iml
*.jar
*.log
*.shadow-cljs
*.idea
*.lein-*
*.nrepl-*

*.hgignore
*.hg/

*.db*
*/resources/public/js/*
*/resources/public/index.html